# Entorno virtual
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
Backend/staticfiles/
Backend/media/

# Variables de entorno
.env

# Node
node_modules/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# IDE
.idea/

# OS
.DS_Store
