* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gallery-container {
    padding: 40px 20px;
    background: url("") center/cover no-repeat;
    text-align: center;
}



.gallery-title {
    font-size: 2.5rem;
    color: #1e4d7b;
    margin-bottom: 10px;
}

.gallery-description {
    max-width: 700px;
    margin: 0 auto 40px auto;
    color: #555;
    font-size: 0.95rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.gallery-item {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
}
/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}

.modal-content {
    animation: zoom 0.3s ease;
}

@keyframes zoom {
    from {transform: scale(0.7);}
    to {transform: scale(1);}
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}