{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-background">

    <div class="login-container">
        
        <div class="logo-circle">
            LB
        </div>

        <h1 class="title">Laguna de la Bolsa</h1>
        <p class="subtitle">Ingresa a tu cuenta</p>

        <div class="login-card">
            <h3>Iniciar Sesión</h3>
            <p class="card-subtitle">
                Accede a tu cuenta para gestionar tus reservas
            </p>

            <form method="post">
                {% csrf_token %}

                <label>Correo Electrónico</label>
                {{ form.username }}

                <label>Contraseña</label>
                {{ form.password }}

                <a href="{% url 'users:recover_password' %}" class="forgot">¿Olvidaste tu contraseña?</a>
                <button type="submit" class="btn-login">
                    Iniciar Sesión
                </button>
            </form>

            <div class="divider">o</div>

            <p class="register">
                ¿No tienes cuenta?
                <a href="{% url 'users:register' %}">Crear cuenta</a>
            </p>

            <div class="demo-box">
                <strong>Demo:</strong>
                Usa admin@lagunadelabolsa.com para acceso de administrador
            </div>
        </div>

        <a href="/" class="back">← Volver al inicio</a>

    </div>

</div>

{% endblock %}